@import "design.less";

.dotsSpinner {
	background: url("dots-spinner-gray.gif") no-repeat scroll center center transparent;
	display: inline-block;
	height: 5px;
	width: 21px;
	margin: 0 5px 0 0;
	padding-bottom: 5px;
}

.beatPeriodsHolder {
	background-color: black;
	height: 100px;
	overflow: hidden;

	.beatPeriod {
		display: inline-block;
		/*height: 100%;*/
		height: 100px;
		float: left;
		.beatPeriodBar(@beatOutColor, @beatInColor, @beatCenterColor);
		.transition(width, 0.2s, ease-out);

		.bpm {
			.beatPeriodBar(@periodOutColor, @periodInColor, @periodCenterColor);
			.transition(height, 0.2s, ease-out);
		}
	}
}
.meanBpmIndicator {
	width: 100%;
	border: none;
	border-bottom: solid 1px red;
	position: relative;
	.transition(bottom, 0.2s, ease-out);
}